@media print and (color) {
	* { 
	-webkit-print-color-adjust: exact; 
	print-color-adjust: exact; 
	}

	/* presentation rules for the page on color printers */
}


body{
	color: #778; !important;
	font-family: Amaranth;
	font-size: 10pt;
}

table{
	width: 100%
}

.content{
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

.print{
	text-align: center;
}

.value{
	color : black; !important;
	font-weight: bold;
}

.spacer{
	height: 5px;
}

.header, .title, .legal{
	color: #00A1CB !important;
}

.subtitle{
	font-style: italic;
}      

.header .logo{
	width: 180px;
}

.header .contactInfo{
	text-align: right;
}

.header .contactInfo.agency{
	padding-bottom: 20px;
}

.header .contactInfo.agency .name{
	font-size: 12pt; 
	font-weight: bold;
}

.header .leftSection{
	float: left;
	font-size: 14pt;
	font-weight: bold;
	width: 400px;
}

.header .contractId{
	color : black; !important;
}

.header .rightSection{
	font-size: 9pt;
	float: right;
	margin-top: 40px;
	width: 240px;
}     

.header .rightSection .yourAgency{
	margin-top: 2px;
}      

.header .title{
	margin-top: 10px;
	font-size: 18pt;
}

.header .title .capital{
	
}

.driversInfo, .locationInfo, .options, .invoice{
	border:solid 1px #2B4A77;
	-webkit-border-top-right-radius: 30px;
	-khtml-border-radius-topright: 30px;  
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
	margin-top: 20px;
	padding: 5px;
}

.driversInfo table{
	
}

.driversInfo > div, .locationInfo > div{
	padding-left: 10px;
	padding-right: 10px;
	width: 353px;
}

.driversInfo .leftSection, .locationInfo .dates{
	border-right: solid 1px #2B4A77;
	float: left;
}

.driversInfo .leftSection table td{
	margin-bottom: 20px;
}

.driversInfo .leftSection .input{
	font-weight: bold;
}

.driversInfo .rightSection, .locationInfo .vehicule{
	float: right;
}

.driversInfo .rightSection table .license{
	white-space: nowrap;
}

.driversInfo .rightSection table .name{
	width: 100%;
}

.driversInfo .rightSection .subtitle{
	text-align: right;
	margin-bottom: 10px;
}

.driversInfo .rightSection tbody{
	font-size: 9pt;
	font-weight: bold;
}

.driversInfo .title, .locationInfo .title, .vehicule .title, .options .title, .invoice .title{
	color: #00A1CB; !important;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.driversInfo .subtitle{
	font-size: 11pt;
	font-weight: bold;
}

.legal{
	font-size: 8pt;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	text-align: center;
}

.dates{
	font-size: 10pt;
}

.dates > .content{
	font-size: 11pt;
	margin-bottom: 10px;
}

.dates, .vehicule{
	height: 110px;
}

.dates table .from,
.dates table .to{
	width: 80px;
}

.dates table .to{
	padding-right: 10px;
}

.dates table .date{
	width: 140px;
	text-align: center;
}

.dates table .at{
	width: 50px;
}

.dates table .tile{
	text-align: center;
}

.options, .invoice {
	width: 350px;
	padding-left: 10px;
}

.options{
	float:left;
}

.invoice, .vehicule{
	float: right;
}

.invoice, .options{
	height: 150px;
}

.invoice, .options .content{
	margin-left: 10px;
}

.conditions{
	font-size: 10pt;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.conditions ul{
	margin: 0px;
	padding: 0px;
}

.endorsement{
	border-bottom:solid 1px #2B4A77;
	border-top:solid 1px #2B4A77;
}

.endorsement ul{
	font-size: 8pt;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

.endorsement li{
	margin-top: 10px;
}

.endorsement .statement, .endorsement .signature{
	padding-left: 15px;
	padding-right: 15px;
	width: 360px;
}

.endorsement .statement{
	float: left;
	border-right:solid 1px #2B4A77;
}

.endorsement .statement .title,
.endorsement .signature .title{
	color: #778; !important;
	font-size: 10pt;
	font-weight: bold;
}

.endorsement .statement .bolder{
	font-size: 9pt;
	font-weight: bolder;
}

.endorsement .signature{
	float: right;
	padding-left: 30px;
	padding-top: 5px;
}

.endorsement .signature .title{
	font-weight: bold;
}

.endorsement .signature .instructions{
	font-size: 8pt;
}