body{
	padding-top: 60px;
}

.contracts{
	overflow: auto;
	font-size: 8pt;
}

.contracts table{
	min-width: 1120px;
}

.contracts input.small, 
.vehicules input.small{
	width: 50px;
}

.contracts input.medium, 
.vehicules input.medium{
	width: 100px;
}

.contracts input.large, 
.vehicules input.large{
	width:200px;
}

.contractPage tbody tr:HOVER{
	cursor: pointer;
}

.contractPage table .creationDate, 
.contractPage table .startDate, 
.contractPage table .endDate{
	white-space: nowrap;
}

.contractActions .modal-body button{
	margin : 5px;
	width: 100%;
}

.filters{
	padding-bottom: 20px;
}

.filters .branches, .filters .status{
	float: left;
	padding-right : 10px;
}

.filters .status{
	width: 350px;
}

.filters select{
	width: 100%;
}

.filters .new{
	float: right;
}

.editContract .additionalDrivers input{
	margin-bottom: 5px;
	width: 150px;
}
.editContract .vehicule select{
	width: 100%;
}

.editContract .loading{
	margin-right: 10px;
}